<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Resource Page</title>
	

			<!------ OAS SETUP begin ------>
			<script type="text/javascript">
			//<![CDATA[
			if (true) {

				OAS_url = 'http://oas.guardian.co.uk/RealMedia/ads/';
				OAS_sitepage = window.location.hostname + window.location.pathname + "/oas.html";
				OAS_listpos = 'Top,Middle1';

								OAS_query = 'k=user&cf=not+commercially+useful&pid=&ct=&pt=microapp_resource&';
				OAS_target = '_blank';

				OAS_rn = '001234567890';
				OAS_rns = '1234567890';
				OAS_rn = new String (Math.random());
				OAS_rns = OAS_rn.substring (2, 11);

									function OAS_NORMAL(pos) {
						document.write('<A HREF="' + OAS_url + 'click_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + pos + '!' + pos + '?' + OAS_query + '" TARGET=' + OAS_target + '>');
						document.write('<IMG SRC="' + OAS_url + 'adstream_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + pos + '!' + pos + '?' + OAS_query + '" BORDER=0></A>');
					}
				
					OAS_version = 11;
					if ((navigator.userAgent.indexOf('Mozilla/3') != -1) || (navigator.userAgent.indexOf('Mozilla/4.0 WebTV') != -1)) OAS_version = 10;
					if (OAS_version >= 11) document.write('<SCR' + 'IPT LANGUAGE=JavaScript1.1 SRC="' + OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '?' + OAS_query + '"><\/SCRIPT>');

					function OAS_AD(pos) {
						if (OAS_version >= 11) OAS_RICH(pos);
						else OAS_NORMAL(pos);
					}
							}
			//]]>
			</script>
			<!------ OAS SETUP end ------>


    	    





		
										

        


<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="canonical" href="http://www.guardian.co.uk/zeitgeist" />
			<meta name="description" content="Community zeitgeist" />
			
			<meta name="DC.date.issued" content="2010-02-03">
		
<meta name="keywords" content="User,Community" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />



	
	<script type="text/javascript">
//<![CDATA[
	if (!commonStaticRoot) {	
		var commonStaticRoot = "http://static.guim.co.uk/static/93569/common/";
	}
	if (!sectionStaticRoot) {	
		var sectionStaticRoot = "http://static.guim.co.uk/static/93569/community/";
	}
	if (!staticHost) {	
		var staticHost="http://www.guardian.co.uk/";
	}
	if (!sitePrefixUrl) {
		var sitePrefixUrl = "http://www.guardian.co.uk";
	}
//]]>
</script>
	  		<link rel="alternate stylesheet" title="No layout" type="text/css" href="http://static.guim.co.uk/static/93569/common/styles/no-layout.css" media="screen" class="contrast" id="no-layout-sheet" />

					<link rel="stylesheet" type="text/css" href="http://static.guim.co.uk/static/93569/common/styles/content-wide.css" media="all" />
		
		<link rel="stylesheet" type="text/css" href="http://static.guim.co.uk/static/93569/zones/global/styles/high-contrast-section.css" media="screen" class="contrast" />
		
			<link rel="stylesheet" type="text/css" href="http://static.guim.co.uk/static/93569/common/styles/base-typography.css" media="screen" />

		
									<link rel="stylesheet" type="text/css" href="http://static.guim.co.uk/static/93569/community/styles/high-contrast-section.css" media="screen" class="contrast" />
					
			

		<!--[if ie 7]>
		    <link rel="stylesheet" type="text/css" href="http://static.guim.co.uk/static/93569/common/styles/ie7.css" media="screen" class="ie" />
		<![endif]-->
		
		<!--[if ie 8]>
			<link rel="stylesheet" type="text/css" href="http://static.guim.co.uk/static/93569/common/styles/ie8.css" media="screen" class="ie" />
		<![endif]-->
		
		<!--[if lte IE 6]>
			<link rel="stylesheet" type="text/css" href="http://static.guim.co.uk/static/93569/common/styles/ie-scratch.css" media="screen" class="ie" />
    		<link rel="stylesheet" type="text/css" href="http://static.guim.co.uk/static/93569/zones/global/styles/zone-navigation-ie.css" media="screen" class="contrast" />
		<![endif]-->
		
		<!--[if lte IE 9]>
			<script src="http://static.guim.co.uk/static/93569/common/external-scripts/html5enable.js"></script>
		<![endif]-->
		
	<link rel="stylesheet" type="text/css" href="http://combo.guim.co.uk/93569/google-ads+header-local-info+top-navigation.css" media="screen" />

	

<script type="text/javascript" src="http://static.guim.co.uk/static/93569/common/external-scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="http://static.guim.co.uk/static/93569/common/external-scripts/jquery-libraries/jquery.cookie.js"></script>
<script type="text/javascript">
 var jQ = jQuery.noConflict();
</script> 

<script type="text/javascript">
	//<![CDATA[
	function insertStyleSheet(href) {
		var styleObject = document.createElement('link');
		styleObject.setAttribute('href', commonStaticRoot + href);
		styleObject.setAttribute('type', 'text/css');
		styleObject.setAttribute('media', 'screen');
		styleObject.setAttribute('rel', 'stylesheet');
		var head = document.getElementsByTagName('head')[0];
		head.appendChild(styleObject);
	}
	insertStyleSheet('styles/js-on.css');
	insertStyleSheet('styles/top-navigation-drop-down.css');
	insertStyleSheet('styles/js-on-sport.css');
	insertStyleSheet('styles/js-on-toolbox.css');
	insertStyleSheet('styles/js-on-business-money-fronts.css');
	insertPluckStylesheet = true;
	//]]>
</script>

 <script type="text/javascript" src="http://static.guim.co.uk/static/93569/common/scripts/gu-core.js"></script>
 <script type="text/javascript" src="http://static.guim.co.uk/static/93569/common/scripts/gu.js"></script>
<script type="text/javascript">
	//<![CDATA[
	function init() {
		new SearchForm(true, 'http://browse.guardian.co.uk', null, 'http://www.guardian.co.uk/websearch' );
		
		urlStack.clearUrlStack();
		var signOutLink = document.getElementById("sign-out");
		if (signOutLink) {
			signOutLink.onclick = signOut;
		}
	}

	var thirdPartyReferralCookieService = new guardian.r2.ThirdPartyReferralCookieService();
	thirdPartyReferralCookieService.setThirdPartyReferralCookie();
		
	var urlStack = new UrlStack(".guardian.co.uk");	
	var communitiesSite = false;
	var setIdentityCookie = false;
    var userId = "";

			
	guardian.r2.signInListeners = new guardian.r2.SignInListeners();
    (function () {	
		var signInView = new guardian.r2.SignInView("http://static.guim.co.uk/static/93569/common/scripts/md5.js", communitiesSite);
		var obfuscationService = new guardian.r2.ObfuscationService();
		guardian.r2.signInController = new guardian.r2.SignInController(signInView, guardian.r2.signInListeners, obfuscationService, "/tools/signin", setIdentityCookie, userId);
		
	}) ();
	
	(function () {
		var profileLinkView = new guardian.r2.ProfileLinkView();
		profileLinkController = new guardian.r2.ProfileLinkController(profileLinkView, "http://www.guardian.co.uk/users/");
	}) ();

	addSafeLoadEvent(init);
	//]]>
</script>



			<script type="text/javascript" language="javascript">
	//	<![CDATA[
	if (insertPluckStylesheet && true) {
		insertStyleSheet('styles/pluck-on.css');
		insertPluckStylesheet = false;
	}
	// ]]>
	</script>
	
		
</head>

<body class="microapp templated resource content-wide">

<div id="wrapper">
	

	<div id="header">
	
		    			<div id="sub-header">
			
							    		


	
						
			
		
										
												
												
												
												
												
												
												
												
								
		
	
<div id="fake-bar"></div>
<div class="top-navigation twelve-col initially-off">

	<div class="user-functions">
		<div id="video-settings">
    <div class="cookied">
        <p class="on"><a class="autoplay-off" href="#skiplinks">Turn autoplay off</a></p>
        <p class="off"><a class="autoplay-on" href="#skiplinks">Turn autoplay on</a></p>
    </div>
    <div class="not-cookied">
        <p>Please activate cookies in order to turn autoplay off</p>
    </div>
</div>

<div id="skiplinks">
	<ul>
		<li><a href="#box" accesskey="s">Jump to content [s]</a></li>
				<li><a href="#global-nav" accesskey="0">Jump to site navigation [0]</a></li>
		<li><a href="#web-search-field" accesskey="4">Jump to search [4]</a></li>
		<li><a href="http://guardian.co.uk/Users/help/article/0,,933909,00.html" accesskey="8">Terms and conditions [8]</a></li>
	</ul>
</div>		








<div class="user-details">
    
        <span><a href="http://m.guardian.co.uk" class="register-required">Mobile site</a></span>
    <span><a class="same-page-login-required" href="/Users/signin/tr/1,,-1,00.html">Sign in</a></span>
    <span><a href="/Users/register/1,,-1,00.html" class="register-required">Register</a></span>
        
</div>

<span id="larger" class="first">Text <a href="/help/accessibility">larger</a></span>
<span class="middot">&middot;</span>
<span id="smaller"><a href="/help/accessibility">smaller</a></span>
					<div id="drop-down-1" class="drop-down">
					<h2>
		
	        About Us
    </h2>
			<ul class="initially-off">
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/information/0,,711853,00.html"  class="link-text">About us</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/gu_contacts/0,,180767,00.html"  class="link-text">Contact us</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/gnm-press-office"  class="link-text">Press office</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/gpc"  class="link-text">Guardian Print Centre</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/theguardian/page/readerseditor"  class="link-text">Guardian readers' editor</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/observer-readers-editor"  class="link-text">Observer readers' editor</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/help/terms-of-service"  class="link-text">Terms of service</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/help/privacy-policy"  class="link-text">Privacy policy</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/advertising"  class="link-text">Advertising guide</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/archive"  class="link-text">Digital archive</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://guardian.newspaperdirect.com/epaper/viewer.aspx"  class="link-text">Digital edition</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/weekly"  class="link-text">Guardian Weekly</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://3276.e-printphoto.co.uk/guardian"  class="link-text">Buy Guardian and Observer photos</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/subscription-services"  class="link-text">Subscribe</a>
    </li>
					
					</ul>
		</div>
		</div>
	
	<div class="other-functions">
							<div id="drop-down-2" class="drop-down mirror">
					<h2>
		
	        Today's paper
    </h2>
			<ul class="initially-off">
							    

	
				
		
		
	
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/theguardian"  class="link-text">The Guardian</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/theguardian/g2"  class="link-text">G2 features</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/theguardian/mainsection/commentanddebate"  class="link-text">Comment and debate</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/theguardian/mainsection/editorialsandreply"  class="link-text">Editorials, letters and corrections</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/tone/obituaries"  class="link-text">Obituaries</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/theguardian/series/otherlives"  class="link-text">Other lives</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/theguardian/sport"  class="link-text">Sport</a>
    </li>
					
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/subscription-services"  class="link-text">Subscribe</a>
    </li>
					
					</ul>
		</div>
						<div id="drop-down-3" class="drop-down mirror">
					<h2>
		
	        Zeitgeist
    </h2>
			<ul class="initially-off">
							    

																												
				
		
		
			
						
		<li>
		
	        <a      href="http://www.guardian.co.uk/zeitgeist"  class="link-text">Today's hot topics</a>
    </li>
					
					</ul>
		</div>
		</div>
		
</div>


<script type="text/javascript">
	ensurePackage('guardian.r2');

	guardian.r2.dropDownMenu = function () {
	
		// bar set up
		jQ('.top-navigation').css('display', 'block');
		jQ('#fake-bar').remove();

		// functionality
		jQ('.drop-down').mouseover(function() {
			jQ(this).find('ul').css('display', 'block');
		});

		jQ('.drop-down').mouseout(function() {
			jQ(this).find('ul').css('display', 'none');
		});

	};	
	
	jQ(document).ready(function() {
		var myDropDownMenu = new guardian.r2.dropDownMenu();
	});
</script>
			
						
	
		
		<div id="topslot" class="hide-on-popup">

		

			<script type="text/javascript">
			//<![CDATA[
				if (true) {
					if (true) {
				        	
			OAS_AD('Top');
						}
				}
			//]]>
			</script>
		

		</div>

    		</div>
	
		
								
					    


	<div id="guardian-logo">
					<a href="http://www.guardian.co.uk" ><img src="http://static.guim.co.uk/static/93569/zones/global/images/logo.gif" height="22" width="140" alt="guardian.co.uk home" /></a>
					</div>
		
			
					<form id="search" action="http://www.guardian.co.uk/websearch" method="get" onsubmit="return SearchForm(true, 'http://browse.guardian.co.uk/search?search=','http://www.guardian.co.uk/search/users');">
	<fieldset id="web-search">

		<input type="text" class="text search-field" name="web-search-field" id="web-search-field" value="Search" onclick="if(this.value=='Search')this.value='';else this.select();" />

		<label id="location" for="sitesearch-radio"><img src="http://static.guim.co.uk/static/93569/common/images/spacer.gif" width="1" height="1" alt="Location" /></label>

		<!--[if IE 6]>
			<style>
				#gu-site-search { display: none; } 
				#web-search-field, #go-guardian, .radios { vertical-align: top; }
				#local-info #search, #search { width: 550px; }
				.radios { display: inline; }
			</style>
			<div class="radios">
				<input type="radio" name="sitesearch-radio" value="guardian" id="search-guardian" checked="checked" /><label for="search-guardian">guardian.co.uk</label>
									<input type="radio" name="sitesearch-radio" value="Community" id="search-section" checked="checked" /><label for="search-section">Community</label>
								<input type="radio" name="sitesearch-radio" value="web" id="search-web" /><label for="search-web">Web</label>
			</div>
			
		<![endif]-->

		<select name="sitesearch-radio" id="gu-site-search" style="z-index: 0 !important;">
							<option value="guardian" id="search-guardian">guardian.co.uk</option>
										<option value="Community" id="search-section" selected="selected">Community</option>
						<option value="web" id="search-web">Web</option>
		</select>
		
		<input type="submit" class="submit sitesearch-submit" value="Search" name="go-guardian" id="go-guardian" />

	</fieldset>
</form>
				
				
		<div id="zones-nav">
						    

	<div id="global-nav">
		<ul>
			
																								<li class="first news">
						<a href="http://www.guardian.co.uk" >News</a>
					</li>
							
																			<li class="sport">
						<a href="http://www.guardian.co.uk/sport" >Sport</a>
					</li>
							
																			<li class="comment">
						<a href="http://www.guardian.co.uk/commentisfree" >Comment</a>
					</li>
							
																			<li class="culture">
						<a href="http://www.guardian.co.uk/culture" >Culture</a>
					</li>
							
																			<li class="business">
						<a href="http://www.guardian.co.uk/business" >Business</a>
					</li>
							
																			<li class="money">
						<a href="http://www.guardian.co.uk/money" >Money</a>
					</li>
							
																			<li class="life-and-style">
						<a href="http://www.guardian.co.uk/lifeandstyle" >Life &amp; style</a>
					</li>
							
																			<li class="travel">
						<a href="http://www.guardian.co.uk/travel" >Travel</a>
					</li>
							
																			<li class="environment">
						<a href="http://www.guardian.co.uk/environment" >Environment</a>
					</li>
							
																			<li class="culture">
						<a href="http://www.guardian.co.uk/tv-and-radio" >TV</a>
					</li>
							
																			<li class="global">
						<a href="http://www.guardian.co.uk/multimedia" >Video</a>
					</li>
							
																			<li class="global">
						<a href="http://www.guardian.co.uk/community" >Community</a>
					</li>
							
																			<li class="global">
						<a href="http://www.guardian.co.uk/tone/blog" >Blogs</a>
					</li>
							
																								<li class="last ">
						<a href="http://jobs.guardian.co.uk/" >Jobs</a>
					</li>
									</ul>
	</div>


														    
	
	            
                                    


<div class="crumb-wrapper">

            <ul class="crumb-nav">
                            <li id="crumb1">
                    <a href="http://www.guardian.co.uk/community" >Community</a>
                </li>
                    </ul>
    
    
            
        <ul class="local-nav related-to-crumb1">
            		   							<li           
            
            class='first'
>
																		<a href="http://www.guardian.co.uk/community-standards" >Community standards</a>
					</li>
				            		   							<li       
            
        
>
																		<a href="http://www.guardian.co.uk/talk" >Talkboards</a>
					</li>
				            		   							<li       
            
        
>
																		<a href="http://www.guardian.co.uk/community-faqs" >Community FAQs</a>
					</li>
				            		   							<li       
            
        
>
																		<a href="http://www.guardian.co.uk/help/users/faq" >User help FAQs</a>
					</li>
				            		   							<li       
            
        
>
																		<a href="http://www.guardian.co.uk/help/insideguardian" >Inside guardian.co.uk</a>
					</li>
				            		   							<li           
            
            class=' last'
>
																		<a href="http://www.guardian.co.uk/zeitgeist" >Zeitgeist</a>
					</li>
				                    </ul>
    
</div>

							</div>
				
				
	</div>

			    




        



	    



  	   	        
   	   	   	   	
      	       
  	   	        
   	  	   		
	
		
        
            

	
	<div id="box">

<div id="content">

  [PLACEHOLDER]

</div>

		<div id="wide-comment-wrapper">
		    	    





		
										

        		
		
												
										
						
											                    
    
	
		
													

	
	
		
			
	
	
			<script type="text/javascript">

google_ad_client = 'ca-guardian_js';
google_ad_channel = 'Community';
</script>

    	    





		
										

        


<script>

google_max_num_ads = '3';

</script>
			    		<div id="google-ads-container" class=" component capsule advertiser-links" style="display: none;"></div>
		<script type="text/javascript">
		//<![CDATA[
			if (true) {
					  writeScript("http://pagead2.googlesyndication.com/pagead/show_ads.js", false, function(){});
			}
		// ]]>
		</script>
		
	

									
							        

	   		
							   		    


	
		
		
				
	


			
			
		</div>
        
        <div id="promo">
                        
	
		
		<div id="mpu1" class="hide-on-popup">

		

			<script type="text/javascript">
			//<![CDATA[
				if (true) {
					if (true) {
				        	
			OAS_AD('Middle1');
						}
				}
			//]]>
			</script>
		

		</div>

            </div>
		
	</div>
	
    	    
	    
	
	            


<div id="footer" class="global footer b4">
			
	<ul id="footer-links">
					<li><a href="http://syndication.guardian.co.uk/" >License/buy our content</a> | </li>
			<li><a href="/Users/help/article/0,,933905,00.html">Privacy policy</a> | </li>
			<li><a href="/Users/help/article/0,,933909,00.html">Terms &amp; conditions</a> | </li>
			<li><a href="http://adinfo-guardian.co.uk/">Advertising guide</a> | </li>
			<li><a href="http://www.guardian.co.uk/help/accessibility">Accessibility</a> | </li>
			<li><a href="http://www.guardian.co.uk/index/subjects/a">A-Z index</a> | </li>
			<li><a href="http://www.guardian.co.uk/help/insideguardian">Inside guardian.co.uk blog</a> | </li>
			<li><a href="/Guardian/information/0,,711853,00.html">About guardian.co.uk</a> | </li>
			<li><a href="http://dating.guardian.co.uk/s/">Join our dating site today</a></li>
			</ul>
        
    <ul id="copyright-links">
    				<li>guardian.co.uk &copy; Guardian News and Media Limited 2010</li>
					    </ul>
</div>

    	    





		
										

        

    
</div>


		


<script type="text/javascript" language="javascript">
	var commentRecommendingClosed =  false </script>


<script type="text/javascript" language="javascript">
//	<![CDATA[
if (true) {
	serverUrl = "http://sitelife.guardian.co.uk/ver1.0/Direct/Process";

    writeScript('http://static.guim.co.uk/static/93569/common/scripts/serversidepluck.js', false, function(){});
}
// ]]>
</script>
<script type="text/javascript" language="javascript">
//	<![CDATA[
if(true) {
	ensurePackage("guardian.r2.serverSidePluck");

	contextInstance = function () {
		var profilePageUser = {
			id : "",
			name : "",
			pageUrl : "http://www.guardian.co.uk/users/"
		};
		
  		var loggedOnUser = {
   			id : "",
   			name : ""
  		};

		var articleInfo = {
			articleId : "", 
			pageUrl : "http://www.guardian.co.uk/zeitgeist", 
			pageTitle : "", 
			sectionKeyWordId : "18319",
			sectionName : "Community",
			commentingClosed :  false , 
			commentRecommendingClosed:  false ,
			premoderation :  false ,
			isChalkboard : false
		};
		
		var chalkboardInfo = {
			articleId : "", 
			pageUrl : "http://www.guardian.co.uk/zeitgeist", 
			pageTitle : "Chalkboard", 
			sectionKeyWordId : "18319",
			sectionName : "Community",
			commentingClosed : false, 
			commentRecommendingClosed: false,
			premoderation : false,
			isChalkboard : true
		};
		
		var filmInfo = {
			filmKey : 'Film:'
		};

		

					
		var env = {
			pageId : "1354346",
			commentsSignUpUrl : 'http://users.guardian.co.uk/signup/tr/1,,-720,00.html',
			cookieDomain : '.guardian.co.uk',
			staticRoot : 'http://static.guim.co.uk/static/93569/common/',
			userProfileUrlPrefix : "http://www.guardian.co.uk/users",
			addClippingsUrl : "http://www.guardian.co.uk/users/clippings/add",
			commentDataUrl : "http://www.guardian.co.uk/external/commentdata/keywords",			
			topKeywordsUrl : "http://www.guardian.co.uk/external/users/topkeywords",
            commentCountsServiceUrl : "http://www.guardian.co.uk/users/pluck/getCommentCounts.js",
            discussionCommentCountsServiceUrl : "http://www.guardian.co.uk/discussion/handlers/getCommentCounts.js",
            userProfileServiceUrl : "http://www.guardian.co.uk/users/pluck/getUserProfile.js"
		};	
		
		var parameters = {
			commentPage :  1 ,
			scrollToComments :   false ,
			showAllComments :  null ,
			commentId :  null ,
			goToLastComment :  false ,
			showCommentBox :  false ,
			isEditProfilePage : ( false ),
			searchString : ( null )
		};
		
				if(document.location.hash === '#allcomments') {
			parameters.showAllComments = true;
		} 
		
		var serverData = {
			articleInfo : articleInfo,
			chalkboardInfo : chalkboardInfo,
			filmInfo : filmInfo,
			env : env,
			profilePageUser : profilePageUser,
			parameters : parameters,
			loggedOnUser : loggedOnUser 
		};
		
		var ctx = new guardian.r2.serverSidePluck.PluckApplicationContext(serverData);

		return function(){
			return ctx;
		};
	}();
	
	guardian.r2.serverSidePluck.PluckApplicationContext.getInstance = contextInstance;
}
// ]]>
</script>
	
			<script type="text/javascript" language="javascript">
		//	<![CDATA[
			 if(true) {
			 	var ctxProvider = guardian.r2.serverSidePluck.PluckApplicationContext;
				ctxProvider.getInstance().buildControllers("PluckCommentCountController")
		    }
		// ]]>
		</script>		
	<script id="componentTrackingScript" type="text/javascript">
if (false) {
    jQ(document).ready(function () {
        jQ('a[data-cpt]').each(
            function () {
            jQ(this).click(
                function () {
                var cpId = jQ(this).attr('data-cpt').split("-")[1];
                var currentLink = jQ(this).attr('href');

                if (currentLink.match(/^.*?intcmp=\d+$/) === null) {
                    jQ(this).attr('href', currentLink + "?intcmp=" + cpId);
                }
            });
        });
    });
}
</script>
	    
	<script type="text/javascript">
	//<![CDATA[

	if(true) {
		ensurePackage("guardian.r2.revsci");

		guardian.r2.revsci.cookieDomain = '.guardian.co.uk';
		guardian.r2.revsci.gu_geo_country = '(none)';
		guardian.r2.revsci.siteName = 'Community';
					guardian.r2.revsci.commercialFolder = 'Not+commercially+useful'
				
		addEvent(null, 'load', function () {
			writeScript('http://js.revsci.net/gateway/gw.js?csid=E05516', true, function() {
				writeScript('http://static.guim.co.uk/static/93569/common/scripts/revsci.js', true, function() {
					rs_initTracking();
				})
			})
		});
	}

	// ]]>
	</script>

	<noscript>
		<div><img src="http://pix01.revsci.net/E05516/a3/0/0/0/0/0/0/0/0/0/noscript.gif" alt="" /></div>
	</noscript>




        	

<script type="text/javascript">
	//	<![CDATA[
	if(false) {
		function send_panel() {
            var OAS_server = 'http://kantarmedia.guardian.co.uk';
            if (! (OAS_rn)) {
                        var OAS_rn = new String (Math.random());
                        var OAS_rns = OAS_rn.substring (2, 11);
            }
            var OAS_taxonomy='&Paneled_Site=guardian.co.uk&Paneled_Section=community';

            document.write('<iframe src="http://panel.kantarmedia.com/0/KantarMedia-Panel/panel/set_panel.html?'+OAS_rns+'__!__'+OAS_server+'__!__'+OAS_taxonomy+'" style="display:none;"></iframe>');
            return true;
		}

		if (document.cookie.indexOf('member_type=') === -1) {
			send_panel();
		}
	}
	// ]]>
</script>
		

</body>
</html>